<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>{{ page_title }}</title>
<link rel="stylesheet" href="{{ slickgrid_path }}/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="{{ slickgrid_path }}/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css"/>
<link rel="stylesheet" href="{{ slickgrid_path }}/examples/examples.css" type="text/css"/>
{% if full_page_style %}
<style>
  html, body {
    margin: 0;
    padding: 0;
    background-color: White;
    overflow: auto;
  }
  body {
    font: 11px Helvetica, Arial, sans-serif;
  }
  #container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
{% endif %}