<div id="container">
  {% for group_plot_key, group_plot_data in group_plots|dictsort(true, by='key') %}
    <h1>{{group_plot_data["name"]}}</h1>
    <p>{{group_plot_data["description"]}}</p>
    <embed src={{group_plot_key}}/{{gplot_filename}} type="application/pdf" width={{pdf_reader_width}} height={{pdf_reader_height}} />
    <table style="border: 1px solid black">
      <tr>
        <th>Line title</th>
        <th>Description</th>
      </tr>
      {% for s_data in group_plot_data["ss_list"] %}
      <tr>
        <td>{{ss_dicts[s_data["s_name"]]["name"]}}</td>
        <td>{{ss_dicts[s_data["s_name"]]["description"]}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endfor %}
  {% if only_group_plots is sameas false %}
  {% for ss, ss_data in ss_dicts|dictsort(true, by='key') %}
    <h1>{{ss_data["name"]}}</h1>
    <p>{{ss_data["description"]}}</p>
    <embed src={{ss_data["sub_output_folder"]}}/{{splot_filename}} type="application/pdf" width={{pdf_reader_width}} height={{pdf_reader_height}} />
  {% endfor %}
  {% endif %}
</div>